html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: white;
  color: #000000;
  height: 100%
}

h2 {
  color: #ebf5ff;
}

.topContainer {
  max-width: 1700px;
  width: 96%;
  background: #ebf5ff;
  margin: auto;
  overflow: hidden;
}

/*----Header Navigation Bar----*/

header {
  background: #ebf5ff;
  margin-bottom: 0px;
}

.upperLogo {
  float: left;
  margin-top: 15px;
  width: 163px;
}

nav {
  float: right;
  line-height: 70px;
}

nav li {
  display: inline-block;
  padding: 5px 20px;
  margin: 10px;
  line-height: normal;

  background: rgba(255, 0, 0, 0.0);
  border-color: rgba(255, 0, 0, 0.0);

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

.logOut {
  background: #1975af;
  border-radius: 20px;
  color: white;
  border: 1.5px solid #1975af
}



.logOut:hover {
  background: white;
  border-radius: 20px;
  color: #1975af;
  border: 1.5px solid #1975af
}

a {
  color: black;
}

a:active {
  color: #1975af;
}

.logOut:hover > a {
  color: #1975af;
}

.logColor {
  color: white;
}

.logColor:hover {
  color: #1975af;
}

.logColor:active {
  color: #1975af;
}

/*---header---*/
.middleContainer {
  max-width: 1700px;
  width: 100%;
  min-height: calc(100vh - 70px - 100px - 30px);

  background: white;
  padding-top: 15px;
  padding-bottom: 15px;

  display: flex;
  flex-direction: column;

  margin-right: auto;
  margin-left: auto;
  align-items: center;

  font-style: normal;
  font-size: 20px;

}

.innerSection {
  box-sizing: content-box;
  width: 90%;
  /* width: 90% */
  /* border: 3px solid #1975af; */
  background-color: white;
  border-radius: 10px;

  margin-top: 15px;
  /* margin-bottom: 60px; */

  padding-bottom: 40px;
}

.description {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  color: black;
  left:0px;
  text-align: center;
}

.subheader {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: black;
  left:0px;
  text-align: center;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;

  margin-top: -10px;

  margin-bottom: 40px;

  width: 100px;
  height: 41px;
  border-radius: 10px;

  background: #27abff;
  color: white;
  outline: none;
  border: none;
}

button:hover {
  background: white;
  color: #27abff;
  border: 1.5px solid #27abff
}

.selectArea {
  width: 100%;
  /* padding-left: 5%;
  padding-right: 5%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.imgClass {
  width: 40%;
  max-width: 430px;
  min-width: 270px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  align-items: center;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
}

.imgSize {
  background: #ffffff;
  width: 80%;

  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.descripText {
  padding-top: 20px;
}


/* bottom section */
.containerBottom {
  /* max-width: 1700px; */
  width: 100%;
  height: 80px;
  background: #ebf5ff;
  padding-top: 15px;
  padding-bottom: 5px;

  display: flex;
  flex-direction: column;

  margin-right: auto;
  margin-left: auto;
  align-items: center;

  font-style: normal;
  font-size: 20px;

}

.contactUs {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;

  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;

  width: 110px; /* changed */
  height: 34px;
  border-radius: 20px;

  background: #1975af;
  color: white;
  outline: none;
}

.contactUs:hover {
  color: #1975af;
  background: white;
  border: 1.5px solid #1975af
}

.infoText {
  font-weight: 300;
  line-height: 14px;
  font-size: 12px;
  text-align: center;

  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}




/* iPhone and other tablet resizing smaller than typical laptop */
@media only screen and (max-width: 971px) {

  .middleContainer {
    min-height: calc(100vh - 50px - 100px - 30px);
  }

  /* .innerSection {
    height: 700px;
  } */

  .contactUs {
    width: 110px; /* changed */
    height: 34px;
    font-size: 14px;
  }

  .infoText {
    font-weight: 300;
    line-height: 24px;
    line-height: 12px;
    font-size: 10px;
    text-align: center;

    margin-top: 5px;
    margin-bottom: 5px;
  }

}

@media only screen and (max-width: 630px) {
  .container {
    max-width: 1700px;
    width: 96%;
    margin: auto;
    /* padding-top: 0%;
    padding-bottom: 20%; */
  }

  .upperLogo {
    float: left;
    margin-top: 15px;
    width: 100px;
  }

  nav {
    float: right;
    line-height: 50px;
  }

  nav li {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    line-height: normal;

    background: rgba(255, 0, 0, 0.0);
    border-color: rgba(255, 0, 0, 0.0);

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
  }
}
/* super small iPhone and other tablet resizing like iPhone 5*/
@media only screen and (max-width: 500px) {
  .container {
    max-width: 1700px;
    width: 96%;
    margin: auto;
    padding-top: 0%;
    padding-bottom: 20%;
  }

  .upperLogo {
    float: left;
    margin-top: 15px;
    width: 100px;
  }

  nav {
    float: right;
    line-height: 50px;
  }

  nav li {
    display: inline-block;
    padding: 5px 10px;
    margin: 3px; /* changed */
    line-height: normal;

    background: rgba(255, 0, 0, 0.0);
    border-color: rgba(255, 0, 0, 0.0);

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
  }

  .description {
    font-size: 22px;
    line-height: 26px;
  }

  .subheader {
    font-size: 14px;
    line-height: 18px;
  }

  /* .innerSection {
    margin-bottom: 20px;
    padding-bottom: 20px;
  } */

}
