body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: white;
  color: #000000;
}

h2 {
  color: #ebf5ff;
}

.topContainer {
  max-width: 1700px;
  width: 96%;
  background: #ebf5ff;
  margin: auto;
  overflow: hidden;
}

/*----Header Navigation Bar----*/

header {
  background: #ebf5ff;
  margin-bottom: 0px;
}

.upperLogo {
  float: left;
  margin-top: 15px;
  width: 163px;
}

nav {
  float: right;
  line-height: 70px;
}

nav li {
  display: inline-block;
  padding: 5px 20px;
  margin: 10px;
  line-height: normal;

  background: rgba(255, 0, 0, 0.0);
  border-color: rgba(255, 0, 0, 0.0);

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

.logIn {
  background: #1975af;
  border-radius: 20px;
  color: white;
  border: 1.5px solid #1975af
}

.logIn:hover {
  background: white;
  border-radius: 20px;
  color: #1975af;
  border: 1.5px solid #1975af
}

a {
  color: black;
}

a:active {
  color: #1975af;
}

.logColor {
  color: white;
}

.logColor:hover {
  color: #1975af;
}

.logColor:active {
  color: #1975af;
}

/*---header---*/
.middleContainer {
  max-width: 1700px;
  width: 100%;
  min-height: calc(100vh - 70px - 100px - 30px);

  background: white;
  padding-top: 15px;
  padding-bottom: 15px;

  display: flex;
  flex-direction: column;

  margin-right: auto;
  margin-left: auto;
  align-items: center;

  font-style: normal;
  font-size: 20px;

}

.profileLogo {
  display: inline-block;
  background: #ffffff;
  height: 85px;

  padding-top: 20px;

  vertical-align: middle;
  margin-bottom: 35px;
  margin-right: 15px;
  margin-left: -10px;
}

h3 {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;

  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

/*hr {
  width: 500px;
  border: none;
  height: 3px;
  border-radius: 2px;
  background-color: #1975af;
  margin-top: -10px;
  margin-bottom: 60px;
}*/

.innerSection {
  width: 800px;
  height: 750px;
  border: 3px solid #1975af;
  background-color: white;
  border-radius: 10px;

  margin-top: -10px;
  margin-bottom: 60px;
}

.form {
  width: 400px;
  position: relative;
  height: 40px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;

}

.form input {
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 50%;
  border: none;
  font-size: 16px;
  outline: none;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form label::after{
  content:"";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #1975af;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-fname {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-fname .content-fname, .form input:valid + .label-fname .content-fname{
  transform: translateY(-150%);
  font-size: 12px;
  color: #27abff;

}

.form input:focus + .label-fname::after, .form input:focus + .label-fname::after, .form input:valid + .label-fname::after{
  transform: translateX(0%);
}

.content-lname {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-lname .content-lname, .form input:valid + .label-lname .content-lname{
  transform: translateY(-150%);
  font-size: 12px;
  color: #27abff;

}

.form input:focus + .label-lname::after, .form input:focus + .label-lname::after, .form input:valid + .label-lname::after{
  transform: translateX(0%);
}

.content-phone_num {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-phone_num .content-phone_num, .form input:valid + .label-phone_num .content-phone_num{
  transform: translateY(-150%);
  font-size: 12px;
  color: #27abff;

}

.form input:focus + .label-phone_num::after, .form input:focus + .label-phone_num::after, .form input:valid + .label-phone_num::after{
  transform: translateX(0%);
}

.content-home_state {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-home_state .content-home_state, .form input:valid + .label-home_state .content-home_state{
  transform: translateY(-150%);
  font-size: 12px;
  color: #27abff;
}

.form input:focus + .label-home_state::after, .form input:focus + .label-home_state::after, .form input:valid + .label-home_state::after{
  transform: translateX(0%);
}

.content-gend {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-gend .content-gend, .form input:valid + .label-gend .content-gend{
  transform: translateY(-150%);
  font-size: 12px;
  color: #27abff;
}

.form input:focus + .label-gend::after, .form input:focus + .label-gend::after, .form input:valid + .label-gend::after{
  transform: translateX(0%);
}

.content-hob {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-hob .content-hob, .form input:valid + .label-hob .content-hob{
  transform: translateY(-150%);
  font-size: 12px;
  color: #27abff;
}

.form input:focus + .label-hob::after, .form input:focus + .label-hob::after, .form input:valid + .label-hob::after{
  transform: translateX(0%);
}

.content-medloc {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-medloc .content-medloc, .form input:valid + .label-medloc .content-medloc{
  transform: translateY(-150%);
  font-size: 12px;
  color: #27abff;
}

.form input:focus + .label-medloc::after, .form input:focus + .label-medloc::after, .form input:valid + .label-medloc::after{
  transform: translateX(0%);
}

.content-grad {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-grad .content-grad, .form input:valid + .label-grad .content-grad{
  transform: translateY(-150%);
  font-size: 12px;
  color: #27abff;
}

.form input:focus + .label-grad::after, .form input:focus + .label-grad::after, .form input:valid + .label-grad::after{
  transform: translateX(0%);
}


button {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;

  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  width: 155px;
  height: 41px;
  border-radius: 10px;

  background: #27abff;
  color: white;
  outline: none;
}

/* bottom section */
.containerBottom {
  max-width: 1700px;
  width: 100%;
  height: 80px;
  background: #ebf5ff;
  padding-top: 15px;
  padding-bottom: 5px;

  display: flex;
  flex-direction: column;

  margin-right: auto;
  margin-left: auto;
  align-items: center;

  font-style: normal;
  font-size: 20px;

}

.contactUs {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;

  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;

  width: 110px; /* changed */
  height: 34px;
  border-radius: 20px;

  background: #1975af;
  color: white;
  outline: none;
}

.contactUs:hover {
  color: #1975af;
  background: white;
  border: 1.5px solid #1975af
}

.infoText {
  font-weight: 300;
  line-height: 14px;
  font-size: 12px;
  text-align: center;

  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}




/* iPhone and other tablet resizing smaller than typical laptop */
@media only screen and (max-width: 630px) {
  .container {
    max-width: 1700px;
    width: 96%;
    margin: auto;
    padding-top: 0%;
    padding-bottom: 20%;
  }

  .upperLogo {
    float: left;
    margin-top: 15px;
    width: 100px;
  }

  nav {
    float: right;
    line-height: 50px;
  }

  nav li {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    line-height: normal;

    background: rgba(255, 0, 0, 0.0);
    border-color: rgba(255, 0, 0, 0.0);

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
  }

  .contactUs {
    width: 110px; /* changed */
    height: 34px;
    font-size: 14px;
  }

  .infoText {
    font-weight: 300;
    line-height: 24px;
    text-align: center;

    margin-top: 5px;
    margin-bottom: 5px;
  }

}

/* super small iPhone and other tablet resizing like iPhone 5*/
@media only screen and (max-width: 365px) {
  .container {
    max-width: 1700px;
    width: 96%;
    margin: auto;
    padding-top: 0%;
    padding-bottom: 20%;
  }

  .upperLogo {
    float: left;
    margin-top: 15px;
    width: 100px;
  }

  nav {
    float: right;
    line-height: 50px;
  }

  nav li {
    display: inline-block;
    padding: 5px 10px;
    margin: 3px; /* changed */
    line-height: normal;

    background: rgba(255, 0, 0, 0.0);
    border-color: rgba(255, 0, 0, 0.0);

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
  }

}
