html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: white;
  color: #000000;
  height: 100%
}

h2 {
  color: #ebf5ff;
}

.topContainer {
  max-width: 1700px;
  width: 96%;
  background: #ebf5ff;
  margin: auto;
  overflow: hidden;
}

/*----Header Navigation Bar----*/

header {
  background: #ebf5ff;
  margin-bottom: 0px;
}

.upperLogo {
  float: left;
  margin-top: 15px;
  width: 163px;
}

nav {
  float: right;
  line-height: 70px;
}

nav li {
  display: inline-block;
  padding: 5px 20px;
  margin: 10px;
  line-height: normal;

  background: rgba(255, 0, 0, 0.0);
  border-color: rgba(255, 0, 0, 0.0);

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

.logOut {
  background: #1975af;
  border-radius: 20px;
  color: white;
  border: 1.5px solid #1975af
}

.logOut:hover {
  background: white;
  border-radius: 20px;
  color: #1975af;
  border: 1.5px solid #1975af
}

.logOut:hover > a {
  color: #1975af;
}

a {
  color: black;
}

a:active {
  color: #1975af;
}

.logColor {
  color: white;
}

.logColor:hover {
  color: #1975af;
}

.logColor:active {
  color: #1975af;
}

/*---header---*/
.middleContainer {
  max-width: 1700px;
  width: 100%;
  min-height: calc(100vh - 70px - 100px - 30px);

  background: white;
  padding-top: 15px;
  padding-bottom: 15px;

  display: flex;
  flex-direction: column;

  margin-right: auto;
  margin-left: auto;
  align-items: center;

  font-style: normal;
  font-size: 20px;

}

.headerArea {
  width: 80%;
  height: 150px;
  display: flex;
  flex-direction: row;
  /* border: 3px solid #1975af; */

}

.headerText {
  width: calc(80vw - 160px);
  /* padding-right: 12%; */
  height: 100%;
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  /* margin-right: auto; */
  margin-left: 0px;
  padding-right: 80px;
  align-items: center;
  /* border: 3px solid #1975af; */

  /* padding-left: 2%; */
  /* margin-bottom: 30px; */
}

.profileLogo {
  background: rgb(0, 0, 0, 0.0);
  height: 85px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

h3 {
  /* display: inline-block; */
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;

  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}


button {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;

  margin-top: 35px;
  /* margin-right: auto; */
  /* margin-bottom: 30px; */
  /* margin-bottom: 60px; */

  width: 155px;
  height: 41px;
  border-radius: 10px;
  margin-left: 0px;

  background: #27abff;
  color: white;
  outline: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.backBtn {
  width: 80px;
}

button:hover {
  background: white;
  color: #27abff;
  border: 1.5px solid #27abff
}

.innerSection {
  box-sizing: content-box;
  width: 75%;
  padding-bottom: 20px;
  /* height: 700px; */
  border: 3px solid #1975af;
  background-color: white;
  border-radius: 10px;
  padding-top: 20px;

  margin-top: 20px;
  margin-bottom: 60px;
  display: none;
  flex-direction: column;
  align-items: center;

  font-family: "Montserrat";
  background: #ebf5ff;
}

.load {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* padding-right: 2%; */
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 24px; */
  color: black;
  /* left:0px; */
  text-align: center;
}

.nameTitle {
  width: 90%;
  height: 48px;

  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  /* border: 3px solid #1975af; */
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5px;
  overflow: hidden;
}

.edSection {
  box-sizing: content-box;
  width: 85%;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 20px;
  /* height: 250px; */
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4%;
  background: white;
  padding-top: 5px;
  padding-bottom: 5px;
  /* border: 3px solid #1975af; */
}

.pathSection {
  box-sizing: content-box;
  width: 85%;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 20px;
  /* height: 160px; */
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4%;
  background: white;
  padding-top: 5px;
  padding-bottom: 5px;
  /* border: 3px solid #1975af; */
}

.passionSection {
  box-sizing: content-box;
  width: 85%;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 20px;
  /* height: 100px; */
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4%;
  background: white;
  padding-top: 5px;
  padding-bottom: 5px;
  /* border: 3px solid #1975af; */
}



.secTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
  color: #27abff;
  width: 100%;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.sectionLogo {
  background: rgb(0, 0, 0, 0.0);
  height: 31px;
  margin-right: 15px;
}

.innerInfo {
  /* border: 3px solid #1975af; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  margin-bottom: 10px;

  width: 90%;

}


/* bottom section */
.containerBottom {
  /* max-width: 1700px; */
  width: 100%;
  height: 80px;
  background: #ebf5ff;
  padding-top: 15px;
  padding-bottom: 5px;

  display: flex;
  flex-direction: column;

  margin-right: auto;
  margin-left: auto;
  align-items: center;

  font-style: normal;
  font-size: 20px;

}

.contactUs {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;

  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;

  width: 120px; /* changed */
  height: 34px;
  border-radius: 20px;

  background: #1975af;
  color: white;
  outline: none;
  border: none;
}

.contactUs:hover {
  color: #1975af;
  background: white;
  border: 1.5px solid #1975af
}

.infoText {
  font-weight: 300;
  line-height: 14px;
  font-size: 12px;
  text-align: center;

  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/* iPhone and other tablet resizing smaller than typical laptop */
@media only screen and (max-width: 745px) {

  .middleContainer {
    min-height: calc(100vh - 50px - 100px - 30px);
  }

  .headerArea {
    height: 120px;
    /* padding-right: 80px; */
  }

  .profileLogo {
    height: 65px;
    margin-bottom:0px;
  }

  h3 {
    font-size: 25px
  }

  .innerSection {
    margin-top: 5px;
  }

  .nameTitle {
    height: 37px;
    font-size: 33px;
  }

  .secTitle {
    font-size: 25px;
    line-height: 30px;
  }

  .sectionLogo {
    height: 26px;
  }

  .innerInfo {
    /* border: 3px solid #1975af; */
    font-size: 14px;
    line-height: 18px;

    margin-bottom: 8px;


  }


  .contactUs {
    width: 120px; /* changed */
    height: 34px;
    font-size: 14px;
  }

  .infoText {
    font-weight: 300;
    line-height: 24px;
    line-height: 12px;
    font-size: 10px;
    text-align: center;

    margin-top: 5px;
    margin-bottom: 5px;
  }

}

@media only screen and (max-width: 630px) {
  .container {
    max-width: 1700px;
    width: 96%;
    margin: auto;
    /* padding-top: 0%;
    padding-bottom: 20%; */
  }

  .upperLogo {
    float: left;
    margin-top: 15px;
    width: 100px;
  }

  nav {
    float: right;
    line-height: 50px;
  }

  nav li {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    line-height: normal;

    background: rgba(255, 0, 0, 0.0);
    border-color: rgba(255, 0, 0, 0.0);

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
  }
}

/* super small iPhone and other tablet resizing like iPhone 5*/
@media only screen and (max-width: 530px) {

  .headerArea {
    width: 90%;
    height: 100px;
    /* padding-right: 80px; */
  }

  .headerText {
    width: calc(90vw - 120px);
    min-width: 170px;
    padding-right: 60px;
  }

  .backBtn {
    width: 60px;
    height: 30px;
    font-size: 12px;

  }

  .profileLogo {
    height: 50px;
    margin-bottom:0px;
  }

  h3 {
    font-size: 20px
  }

  .innerSection {
    width: 90%;
    padding-top: 10px;
  }

  .nameTitle {
    height: 28px;
    font-size: 21px;
    padding-bottom: 7px;
  }

  .secTitle {
    font-size: 18px;
    line-height: 22px;
  }

  .sectionLogo {
    height: 19px;
  }

  .innerInfo {
    font-size: 12px;
    line-height: 14px;

    margin-bottom: 6px;

  }

  .pathSection {
    margin-top: 20px;
  }
  .passionSection {
    margin-top: 20px;
  }

}

@media only screen and (max-width: 365px) {
  .container {
    max-width: 1700px;
    width: 96%;
    margin: auto;
    padding-top: 0%;
    padding-bottom: 20%;
  }

  .upperLogo {
    float: left;
    margin-top: 15px;
    width: 100px;
  }

  nav {
    float: right;
    line-height: 50px;
  }

  nav li {
    display: inline-block;
    padding: 5px 10px;
    margin: 3px; /* changed */
    line-height: normal;

    background: rgba(255, 0, 0, 0.0);
    border-color: rgba(255, 0, 0, 0.0);

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
  }
}
