html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: white;
  color: #000000;
  height: 100%
}

h2 {
  color: #ebf5ff;
}

.topContainer {
  max-width: 1700px;
  width: 96%;
  background: #ebf5ff;
  margin: auto;
  overflow: hidden;
}

/*----Header Navigation Bar----*/

header {
  background: #ebf5ff;
  margin-bottom: 0px;
}

.upperLogo {
  float: left;
  margin-top: 15px;
  width: 163px;
}

nav {
  float: right;
  line-height: 70px;
}

nav li {
  display: inline-block;
  padding: 5px 20px;
  margin: 10px;
  line-height: normal;

  background: rgba(255, 0, 0, 0.0);
  border-color: rgba(255, 0, 0, 0.0);

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

.logOut {
  background: #1975af;
  border-radius: 20px;
  color: white;
  border: 1.5px solid #1975af
}

.logOut:hover {
  background: white;
  border-radius: 20px;
  color: #1975af;
  border: 1.5px solid #1975af
}

.logOut:hover > a {
  color: #1975af;
}

a {
  color: black;
}

a:active {
  color: #1975af;
}

.logColor {
  color: white;
}

.logColor:hover {
  color: #1975af;
}

.logColor:active {
  color: #1975af;
}

/*---header---*/
.middleContainer {
  max-width: 1700px;
  width: 100%;
  min-height: calc(100vh - 70px - 100px - 30px);

  background: white;
  padding-top: 15px;
  padding-bottom: 15px;

  display: flex;
  flex-direction: column;

  margin-right: auto;
  margin-left: auto;
  align-items: center;

  font-style: normal;
  font-size: 20px;

}

.profileLogo {
  display: inline-block;
  background: #ffffff;
  height: 85px;

  padding-top: 20px;

  vertical-align: middle;
  margin-bottom: 35px;
  margin-right: 15px;
  margin-left: -10px;
}

h3 {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;

  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

/*hr {
  width: 500px;
  border: none;
  height: 3px;
  border-radius: 2px;
  background-color: #1975af;
  margin-top: -10px;
  margin-bottom: 60px;
}*/

.innerSection {
  /* height: 390px; */
  box-sizing: content-box;
  width: 760px;
  border: 3px solid #1975af;
  background-color: white;
  border-radius: 10px;

  margin-top: -10px;
  margin-bottom: 60px;

  padding-bottom: 40px;
}

.description {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: black;
  left:0px;
  text-align: center;
}

.firstPage {
  width: 95%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: -15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  /* align-items: center; */
}

.eachSide {
  box-sizing: content-box;
  width: 45%;
  min-width: 360px;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.form {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 40%;
  min-width: 300px;
  position: relative;
  /* height: 60px; */
  height: 35px;
  /* overflow: hidden; */
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 10px; */
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lining {
  width: 40%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  height: 15px;
  color: black;
  padding-left: 14px;
  /* position: absolute; */
}

.eachSelect, .eachSelectAdj {
  width: 40%;
  min-width: 300px;
  position: relative;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

.eachSelectAdj {
  margin-top: 20px;
}

.custom-select2 {
  width: 100%;
  height: 35px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 3;
  border-radius: .25em;
}

.selectLabel {
  position:absolute;
  font-size: 12px;
  color: #27abff;
  background-color: white;
  margin-left: 9px;
  padding-left: 3px;
  padding-right: 5px;
  margin-top: -8px;
  display: none;
}

/*.custom-select {
  width = 40%;
  min-width: 300px;
  position: relative;
  height: 35px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 3;
  border-radius: .25em;
} */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  background: white;
  background-image: none;
  border:1px solid black;
  border-radius: 5px;
}

select {
  width: 97%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 4px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  color: rgb(169, 169, 169, 80.0); black;
}

select::after {
  font-size: 12px;
}

select::-ms-expand {
  display: none;
}

.custom-select2::after {
  content: '\25BC';
  color: #888888;
  font-size: 8px;
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 0;
  padding: 0 11px;
  pointer-events: none;
}

select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}


.form input {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 93.5%;
  /* need to change for smaller */
  position: absolute;
  bottom: 0px;
  /* height: 50%; */
  height: 33px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  padding-left: 5px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: none !important;
}

#hobby2other, #hobby3other {
  display: none;
}

.nameForInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
  margin-left: 10px;
  /* need to change margin for smaller */
  bottom: 1px;
  left: 0px;
  width: 95%;
  height: 100%;
  pointer-events: none;
  color: rgb(169, 169, 169, 80.0); black;
  font-size: 16px;
  margin-bottom: 2px;
  font-family: 'Montserrat', sans-serif;
}

.codeText {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.2s ease;
}

.form input:focus ~ .nameForInput .codeText, .form input:valid ~ .nameForInput .codeText{
  /* transform: translateY(-150%); */
  font-size: 12px;
  color: #27abff;
  background-color: white;
  padding-left: 3px;
  padding-right: 5px;
  margin-bottom: 20px;
}

.form input:focus {
    border:1px solid #1975af;
}


button {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;

  margin-top: -10px;

  margin-bottom: 40px;

  width: 100px;
  height: 41px;
  border-radius: 10px;

  background: #27abff;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

button:hover {
  background: white;
  color: #27abff;
  border: 1.5px solid #27abff
}

.buttonClass {
  box-sizing: content-box;
  width: 760px;
  display: flex;
  flex-direction: row;
  /* align-items: left; */
}

.next {
  margin-left: calc(760px - 10px - 100px);
}


/* bottom section */
.containerBottom {
  /* max-width: 1700px; */
  width: 100%;
  height: 80px;
  background: #ebf5ff;
  padding-top: 15px;
  padding-bottom: 5px;

  display: flex;
  flex-direction: column;

  margin-right: auto;
  margin-left: auto;
  align-items: center;

  font-style: normal;
  font-size: 20px;

}

.contactUs {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;

  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;

  width: 120px; /* changed */
  height: 34px;
  border-radius: 20px;

  background: #1975af;
  color: white;
  outline: none;
  border: none;
}

.contactUs:hover {
  color: #1975af;
  background: white;
  border: 1.5px solid #1975af
}

.infoText {
  font-weight: 300;
  line-height: 14px;
  font-size: 12px;
  text-align: center;

  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}




/* iPhone and other tablet resizing smaller than typical laptop */
@media only screen and (max-width: 971px) {

  .middleContainer {
    min-height: calc(100vh - 50px - 100px - 30px);
  }

  .profileLogo {
    height: 65px;
    margin-right: 5px;
    margin-left: -5px;
  }

  h3 {
    font-size: 25px
  }

  /* .innerSection {
    height: 700px;
  } */

  .form {
    min-width: 300px;
  }

  .form input {
    width: 92.5%;
  }

  .nameForInput {
    font-size: 16px;
    left: 1px;
    /* margin-bottom: 2px; */
  }

  .form input:focus ~ .nameForInput .codeText, .form input:valid ~ .nameForInput .codeText{
    margin-bottom: 20px;
  }

  .eachSelect, .eachSelectAdj {
    min-width: 300px;
  }

  select {
    font-size: 16px;
  }

  .contactUs {
    width: 120px; /* changed */
    height: 34px;
    font-size: 14px;
  }

  .infoText {
    font-weight: 300;
    line-height: 24px;
    line-height: 12px;
    font-size: 10px;
    text-align: center;

    margin-top: 5px;
    margin-bottom: 5px;
  }

}

@media only screen and (max-width: 850px) {
  .innerSection {
    width: 75%;
  }

  .buttonClass {
    width: 75%;
  }

  .next {
    margin-left: calc(75vw - 20px - 100px);
  }
}

@media only screen and (max-width: 630px) {
  .container {
    max-width: 1700px;
    width: 96%;
    margin: auto;
    /* padding-top: 0%;
    padding-bottom: 20%; */
  }

  .upperLogo {
    float: left;
    margin-top: 15px;
    width: 100px;
  }

  nav {
    float: right;
    line-height: 50px;
  }

  nav li {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    line-height: normal;

    background: rgba(255, 0, 0, 0.0);
    border-color: rgba(255, 0, 0, 0.0);

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
  }
}

/* super small iPhone and other tablet resizing like iPhone 5*/
@media only screen and (max-width: 500px) {

  .innerSection {
    width: 75%;
  }

  .eachSide {
    min-width: 260px;
  }

  .form, .lining {
    min-width: 240px;
  }

  .nameForInput {
    bottom: 0px;
  }

  .eachSelect, .eachSelectAdj {
    min-width: 240px;
  }

}

@media only screen and (max-width: 365px) {
  .container {
    max-width: 1700px;
    width: 96%;
    margin: auto;
    padding-top: 0%;
    padding-bottom: 20%;
  }

  .upperLogo {
    float: left;
    margin-top: 15px;
    width: 100px;
  }

  nav {
    float: right;
    line-height: 50px;
  }

  nav li {
    display: inline-block;
    padding: 5px 10px;
    margin: 3px; /* changed */
    line-height: normal;

    background: rgba(255, 0, 0, 0.0);
    border-color: rgba(255, 0, 0, 0.0);

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
  }
}
